/*
!.tmux.conf
!.vimrc
!.xinitrc
!.Xmodmap
!.Xresources
!.zprofile
!.zshrc
!.config
!.gitconfig
.config/*
!.config/alacritty
!.config/i3
!.config/i3blocks
!.config/notes
!.config/zsh
.vim/*
!.vim/ftplugin
!.vim/autoload
!.vim/colors
!.local/bin/dnm
!.screenlayout
# todo .config/zsh/soyuka.zsh-theme.antigen-compat
