/*
!.tmux.conf
!.vimrc
!.xinitrc
!.Xmodmap
!.Xresources
!.zprofile
!.zshrc
!.config
!.gitconfig
.config/*
!.config/i3
!.config/i3blocks
!.config/ranger
!.config/termite
!.config/alacritty
!.config/yabar
!.config/zsh
!.config/specific
.vim/*
!.vim/ftplugin
!.vim/autoload
!.vim/colors
.config/zsh/soyuka.zsh-theme.antigen-compat
