! xft screen configuration
Xft.geometry: 80x30
Xft.antialias: true
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.dpi: 130
XCursor.size: 24

! Rofi settings
rofi.color-enabled: true
!                  background border separator
rofi.color-window: #282a2e, #373b41, #373b41
!                  background foreground alt highlight background foreground
rofi.color-normal: #282a2e, #e0e0e0, #282a2e,          #373b41, #ffffff
rofi.color-active: #282a2e, #81a2be, #282a2e,          #5e6b8d, #ffffff
rofi.color-urgent: #de935f, #ffffff, #de935f,          #bf674a, #ffffff
rofi.eh: 1
rofi.line-margin: 6
rofi.bw: 5
rofi.dpi: 130
rofi.separator-style: solid
rofi.hide-scrollbar: true
! rofi.font: "SourceCodePro 14"
